<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.semantic.emoji-search</string>
	<key>connections</key>
	<dict>
		<key>19F56553-E71E-47FC-A51D-64BF653DA598</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57738391-8A93-46F8-B12C-33C564321DCB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoaliases</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0ADBA4A-8629-4D61-9839-A9A60533DA38</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste directly</string>
				<key>vitoaliases</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Cody Henshaw</string>
	<key>description</key>
	<string>Search emojis by meaning</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emoji Semantic Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>emoji</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyalinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./emoji-search.pl "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search by name or meaning</string>
				<key>title</key>
				<string>Search Emojis</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>19F56553-E71E-47FC-A51D-64BF653DA598</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>57738391-8A93-46F8-B12C-33C564321DCB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E0ADBA4A-8629-4D61-9839-A9A60533DA38</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>19F56553-E71E-47FC-A51D-64BF653DA598</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>57738391-8A93-46F8-B12C-33C564321DCB</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>E0ADBA4A-8629-4D61-9839-A9A60533DA38</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
</dict>
</plist>
